.imageSlider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;

}
.imageSlider img{
    width: 100%;
    display: none;
}


img.displaySlide {
    width: 50%;
    height: 400px;
    display: block;
    object-fit: cover;
    margin: 0 auto; /* This centers the image horizontally */
}

.slideButton{
    margin-top: 10px;
    width: 40px;
    height: 30px;
    font-weight: bold;
    font-size: 1rem;

}